<div id="trip-map" class="trip-map"></div>

<script>
    $(function () {
        const map = L.map('trip-map', {
            center: [50.58485, 8.64423],
            zoom: 16,
            zoomControl: false,
            minZoom: 1
        });

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            noWrap: true
            //attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
    });
</script>