<div id="trip-map" class="trip-map"></div>

<script>
    $(function () {
        const map = L.map('trip-map', {
            center: [50.58485, 8.64423],
            zoom: 16,
            zoomControl: false,
            minZoom: 1
        });

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            noWrap: true
            //attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        $.get('<%= trip_path 1, format: :json %>', tourObjects => {
            tourObjects.destinations.forEach(
                function (destination) {
                    // render marker of destination
                    let lat = parseFloat(destination.geo_location.address.lat);
                    let lng = parseFloat(destination.geo_location.address.lng);
                    let marker = L.marker([lat, lng]).addTo(map);

                    let polylineData = destination.geo_location.polygon;
                    // if polygon available -> destination has a route
                    if (polylineData) {
                        // render route of destination
                        let polyline = L.polyline(polylineData).addTo(map);

                        // move map to starting point of route
                        let startingPoint = [polylineData[0][0], polylineData[0][1]];
                        map.panTo(startingPoint);
                    }
                }
            );
        });
    });
</script>