<div class="title-bar">
  <div class="trip-name">Meine Reise</div>
  <div class="trip-date"><%= current_guest.trips.first.start_date.strftime("%d.%m") %> - <%= current_guest.trips.first.end_date.strftime("%d.%m") %></div>
  <div class="title-bar-action" onclick="window.open('<%= trips_path %>', '_self')">Zur Kartenansicht</div>
  <div class="title-close-button"></div>
</div>