<div class="title-bar">
  <div class="trip-name">Meine Reise</div>
  <div class="trip-date">19. AUG - 30. AUG</div>
  <div class="title-bar-action" onclick="window.open('<%= trips_path %>', '_self')">Zur Kartenansicht</div>
  <div class="title-close-button"></div>
</div>