<div class="trip-destination-node" data-direction="in" data-timestamp="<%= timestamp %>">
  <div class="trip-destination-node-wrapper">
    <%= render 'trip_destinations/card',
               id: 1,
               type: 'hotel',
               time: 'Check-In 12:00',
               title: 'Hotel Seeblick',
               image: 'https://media.tourdata.at/exp/sommer/responsiveTeaserBoxImg/orteinformation/430000877.png',
               details: 'Unterkunft, Halbpension',
               address: 'Bergstraße 62, 2131 Linzdorf',
               actions: []  %>
  </div>
</div>

<!-- TODO js to generate this node -->