<div class="chat-input">
  <div id="editable-area" class="editable-area" contenteditable="true"></div>
  <div id="record-animation" style="display: none;">Nimmt auf... <span id="record-time">00:00</span></div>
  <a id="record-voice-button" class="record-voice-button"></a>
  <a id="send-question-button" class="send-question-button"></a>
</div>