<div class="view-container">
  <div class="view-title">Ticket #<%= @ticket.ticketnummer %></div>

  <!-- TODO "Sendungsverfolgung" - Der Techniker ist zu Ihnen unterwegs, vorraissichtliche Ankunft: 10 Uhr morgen -->
  <%= render 'details', ticket: @ticket %>
</div>