<div class="destination-date-weather">
  <div class="destination-date-temperature">
    <div class="destination-date-temperature-icon" style="background-image: url(https://ssl.gstatic.com/onebox/weather/48/<%= @destination.weather_type %>.png);"></div>
    <div class="destination-date-day-temperature"><%= @destination.day_temperature %>°C</div>
    <div class="destination-date-night-temperature"><%= @destination.night_temperature %>°C</div>
  </div>
</div>