<div class="pull-right" style="display: inline-block;">
	<%%= link_to t('activerecord.link.back_to_list'), <%= table_name %>_path %>
	|
	<%%= link_to t('activerecord.link.details'), @<%= singular_table_name %> %>
</div>
<h1 id="main-title" style="margin-top: 0px;">
	Editing <%%= t('activerecord.models.<%= singular_table_name %>.one') %>
</h1>

<%%= render 'form' %>
