<%%= link_to t('activerecord.link.back_to_list'), <%= table_name %>_path, :class => "pull-right bar-button" %>
<h1 id="main-title" style="margin-top: 0px;">
	New <%%= t('activerecord.models.<%= singular_table_name %>.one') %>
</h1>

<%%= render 'form' %>
