<title>
  Ticketing
</title>
<meta name="description" content="Ticketing">
<meta name="author" content="Vodafone Hackathon">
<link rel="manifest" href="<%= asset_path 'manifest.json' %>" />
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<meta name=”theme-color” content=”#ffffff″ />
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,500,700" rel="stylesheet">
<%= stylesheet_link_tag    "application", media: "all" %>
<%= javascript_include_tag "application" %>