<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/meta' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/content' %>
  </body>
</html>
